section {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: "Titillium Web", "Roboto";
    font-weight: 600;
}

.header {
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    background-color: rgb(25, 25, 25);
}
.header-button {
    max-width: 5rem;
    max-height: 3rem;
}

.ingest-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home-screen {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.normal_text {
    font-size: 20px;
    font-family: "Titillium Web", "Roboto";

}
.main-image {
    width: 500px;
    border-radius: 10px;
}
.section_03_buttons{
    width: 100%;
    display: flex;
    justify-content: center;
}
.section_03_buttons button{
    margin: 1rem;
}